.container {
  max-width:600px;
  width:100%;
  padding: 20px;
  margin:auto;
  box-sizing: border-box;

  input {
    margin:10px 0;
    width: 100%;
    padding:5px;
    box-sizing: border-box;
  }
  button {
    margin: 10px 0;
  }
}

#events {
  ul {
    padding: 0;
    li {
      margin-top:20px;
      padding:20px;
      border: 1px solid grey;
      display:block;
      a {
        display: block;
        padding-top: 10px;
        cursor: pointer;
      }
      &.future {
        background-color:#EEEEEE;
      }
    }
  }
}
