<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>
  <body>
    <div class="container">
      <h1>Event manager</h1>
      <hr>
      <div id="addEvent">
        <input id="title" type="text" placeholder="Title">
        <input id="location" type="text" placeholder = "Location">
        <input id="description" type="text" placeholder = "Description">
        <input id="start" type="date" placeholder = "Start date">
        <input id="end" type="date" placeholder = "End date">
        <button v-on:click="addEvent" type="button" name="button">Add an event</button>
      </div>

      <div id="events">
        <ul>
          <li v-for="(event,index) in events" :class="checkFuture(event.start)">
            <h3>{{ event.title }}</h3>
            <h4>{{ event.location}}</h4>
            <p> {{ event.description }}</p>
            <span>{{ event.start }} to {{ event.end }}</span>
            <a v-on:click="showEdit">Edit</a>

            <form v-if="displayEdit">
              <hr>
              <h2>Edit fields</h2>
              <input id="Etitle" type="text" placeholder="Title" :value="event.title">
              <input id="Elocation" type="text" placeholder= "Location" :value="event.location">
              <input id="Edescription" type="text" placeholder= "Description" :value="event.description">
              <input id="Estart" type="date" placeholder= "Start date" :value="event.start">
              <input id="Eend" type="date" placeholder= "End date" :value="event.end">
              <button v-on:click="editEvent(index)" type="button" name="button">Edit this event</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <script src="dist/app.js" charset="utf-8"></script>
  </body>
</html>
