/* line 1, ../sass/index.scss */
.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
}
/* line 8, ../sass/index.scss */
.container input {
  margin: 10px 0;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
/* line 14, ../sass/index.scss */
.container button {
  margin: 10px 0;
}
